.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  /* Appear above all other Components*/
  z-index: 99;
  position: relative;
}


.logo{
  margin-left: 30px;
  margin-top: 10px;
}


.logo img {
  width: 90px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links li a {
  color: yellow;
  text-decoration: none;
  transition: color 0.3s, background-color 0.3s;
  padding: 8px 15px;
  border-radius: 5px;
}

.nav-links li a:hover {
  color: white;
  background-color: #555;
}
