@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* > * {
    font-family: "Poppins", cursive;
    margin: 0;
}

:root{
    --color-dark: #2C3131;
    --color-light: #F3F3F2;
    --color-gold0: #06107c;
    --color-gold1: #e3c206;
    --color-gold2: #cece06;
    --color-gold3: #887403;
}


#main{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        /* background-color: rgba(245, 233, 72, 0.871); */
}



.board {
    text-align: center;
    width: 50%;
  
}

.board .leaderboard{
    margin-bottom: 1em;
    
}

.board .duration{
    display: flex;
    justify-content: center;
    gap: 1em;
}

.board .duration > button{
    border: 1px solid var(--color-light);
    padding: .5em 2em;
    border-radius: 10px;
    
    cursor: pointer;
}

.board .duration > button:hover{
    background-color: var(--color-dark);
    color: var(--color-light);
}

.active{
    background-color: var(--color-dark);
    color: var(--color-light);
}

#profile{
    overflow-y: scroll;
    max-height: 300px;
    border: 3px solid black;
}

#profile .flex{
    
    display: flex;
    justify-content: space-between;
    height:2rem;
    padding-top: 0.5em;
    font-size: 0.2rem;
    padding-bottom: 0.5em;
    padding-left: 2em;
    padding-right: 1em;
    box-shadow: 10px 10x 10px 10px #0505050a;
    text-align: left;
    justify-content: space-between;
    border-radius: 50px 20px 20px 50px;
    margin: 3px;
    background-image: linear-gradient(to right, rgba(244, 191, 15, 0.802), rgb(246, 246, 246));
    transition: background-image 10s ease-in-out;
    transition: height 0.1s ease-in-out;
    transition: box-shadow 0.1s ease-in-out;
}

#profile .flex:hover{

    background-image: linear-gradient(to right, rgba(244, 191, 15, 0.802), rgb(249, 229, 6));
    height: 2.5rem;
    box-shadow: 10px 10px 50px 10px #0000000a;

    
}


h3 .name .text-dark{
    font-size:100px;
}

span{
    font-size: 1px;
}

#profile .flex .item{
    display: flex;
    align-items: center;
}

#profile .flex img{
    width: 10%;
    border-radius: 50%;
}

#profile .flex .info{
   padding: 4em;


}


#profile .item img{

    width: 2.66rem;
    /* Size of the border */
    /* border-width: 3px;
    border-radius: 50%;
    border: 5px solid red;
    padding: 5px;
     */
    border-radius: 50%;
    padding: 2px; /* Adjust to control border width */
    background: linear-gradient(to right, rgb(84, 183, 48), rgb(217, 181, 24)); /* Gradient background */
    
}


  

.text-dark{
    color: var(--color-gold0);
}

.contact-page{
    background-image: url("space.jpg");
    width: 100%;
    height: 100%;
    position: absolute;
}

/* Colors for light and dark theme */
.light-theme {
    background-color: #987554;
    color: white;
  }
  
  .dark-theme {
    background-color: black;
    color: #CCFF00;
  }