@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* > * {
    font-family: "Poppins", cursive;
    margin: 0;
}

@font-face {
    font-family: fontone;
    src: url("https://fonts.googleapis.com/css?family=Permanent+Marker");
}

:root{
    --color-dark: #2C3131;
    --color-light: #F3F3F2;
    --color-gold0: #06107c;
    --color-gold1: #e3c206;
    --color-gold2: #cece06;
    --color-gold3: #887403;
}

/* Scrollbar Styling */
::-webkit-scrollbar {
    width: 0.4rem;
}
 
::-webkit-scrollbar-track {
    background-color: #ebebeb;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #6d6d6d; 
}

.board ::-webkit-scrollbar {
    width: 0.5rem;

}
 
.board ::-webkit-scrollbar-track {
    background-color: #f5d688;
    -webkit-border-radius: 1rem;
    border-radius: 10px;
}

.board ::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #f0a207; 
}





#main{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        /* background-color: rgba(245, 233, 72, 0.871); */
}

.board .leaderboard{
    padding-bottom:1em;
}

.board {
    text-align: center;
    width: 50%;
      
}



.board .duration{
    display: flex;
    justify-content: center;
    gap: 1em;
}

.board .duration > button{
    border: 1px solid var(--color-light);
    padding: .5em 2em;
    border-radius: 10px;
    
    cursor: pointer;
}

.board .duration > button:hover{
    background-color: var(--color-dark);
    color: var(--color-light);
}

.active{
    background-color: var(--color-dark);
    color: var(--color-light);
}

#profile{
    overflow-y: scroll;
    max-height: 70vh;
    max-width: 70vw;
    border-radius: 0.3rem;
    padding-left: 0px;
    border-top: 1px solid gold;
    background-color:rgba(250, 223, 100, 0.576);
}

#profile .flex{
    
    display: flex;
    justify-content: space-between;

    height:8em;
    font-size: 10px;
    padding-left: 2em;
    padding-right: 1em;
    box-shadow: 10px 10x 10px 10px #0505050a;
    text-align: left;
    justify-content: space-between;
    border-radius: 50px 20px 20px 50px;
    border-top: 4px solid transparent;
    margin: 0em;
    background-image: linear-gradient(to right, rgba(244, 191, 15, 0.802), rgb(246, 246, 246));
    border-bottom: 0.5em solid #f6772d;
    transition: background-image 10s ease-in-out;
    transition: height 0.5s ease-in-out;
    transition: box-shadow 0.1s ease-in-out;
    transition: margin 0.5s ease-in-out;
    transition: border-bottom 0.1s ease-in-out;
    

}

#profile .flex:hover{

    background-image: linear-gradient(to right, rgba(244, 191, 15, 0.802), rgb(249, 229, 6));
    height: 8em;
    margin: 0.5em;
    box-shadow: 0px 1px 20px 6px rgba(198, 189, 11, 0.9);
    border-bottom: 1em solid #f82500;
    
}

.info{
    padding: 0px;
    margin: 0px;
    border: 0px;
}


h3 .name .text-dark{
    font-size:1rem;
}

span{
    font-size: 1rem;
}

#profile .flex .item{
    display: flex;
    align-items: center;
}

#profile .flex img{
    width: 5%;
    border-radius: 50%;
}

#profile .flex .info{
   padding: 4em;


}

span {
    color: #2C3131;
}

#profile .item img{

    width: 2.66rem;
    /* Size of the border */
    /* border-width: 3px;
    border-radius: 50%;
    border: 5px solid red;
    padding: 5px;
     */
    border-radius: 50%;
    padding: 2px; /* Adjust to control border width */
    background: linear-gradient(to right, rgb(84, 183, 48), rgb(216, 255, 76)); /* Gradient background */
    
}


  

.text-dark{
    color: var(--color-gold0);
}

.contact-page{
    /* background-image: url("space.jpg"); */
    width: 100%;
    height: 100%;
    position: absolute;
}

/* Colors for light and dark theme */
.light-theme {
    background: linear-gradient(to right, #fa8989 0%, #d590f8 20%, #d4b4f4 40%, #baa6f7 70%, #f39797 100%), url('https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.pexels.com%2Fsearch%2Fsky%2F&psig=AOvVaw3ikYN-UT88NshthD2k1nwN&ust=1692178092169000&source=images&cd=vfe&opi=89978449&ved=0CBAQjRxqFwoTCOiV1uCs3oADFQAAAAAdAAAAABAE');
   background-size: cover;
   background-blend-mode: overlay; 
    color: black;
  }
  
  .dark-theme {
    background: linear-gradient(to right, #000000 0%, #220033 20%, #330066 40%, #110044 60%, #140443 80%, #000000 100%), url('https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.freepik.com%2Ffree-photos-vectors%2Fgalaxy-background&psig=AOvVaw0lb5tEnukN5nvJdESCTybi&ust=1692177635355000&source=images&cd=vfe&opi=89978449&ved=0CBAQjRxqFwoTCLD2yIer3oADFQAAAAAdAAAAABAE');
   background-size: cover;
   background-blend-mode: overlay; 
    color: #CCFF00;
  }

.dark-theme .herologo img{
    filter: sepia(10.9) brightness(3.5)
}


  @keyframes moveRight {
    0% {
        opacity: 0;
        transform: translateX(-60px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes moveleft {
    0% {
        opacity: 0;
        transform: translateX(60px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


.about{
    text-align: center;
    padding: 10px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 200px;
    font-size:x-large;
    animation: moveRight 4s ease-out forwards;
}

.about span{
    font-size: 50px;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    font-style: initial;
}

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr; 
}

.herologo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 100px;
}

.herologo img{
    text-align: center;
    height: 60vh;
    width: 50vw;
    animation: moveleft 4s ease-out forwards;
}

/* ContactIcons.css */

.contact-icons {
    position: fixed;
    top: 40%;
    right: 20px;
    transform: translateY(-80%);
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .contact-icons a {
    color: navy;
    font-size: 24px;
    text-decoration: none;
    transition: color 0.3s;
  }
  
.dark-theme  .contact-icons a:hover {
    color: rgb(249, 231, 32);
    transform: translateY(-20px);
  }

 .dark-theme .contact-icons {
    position: fixed;
    top: 40%;
    right: 20px;
    transform: translateY(-80%);
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
.dark-theme  .contact-icons a {
    color: rgb(248, 208, 122);
    font-size: 24px;
    text-decoration: none;
    transition: color 0.3s;
  }
  
.dark-theme  .contact-icons a:hover {
    color: white;
    transform: translateY(-20px);
  }

  .discrip{
    color: white;
    padding-left: 10px;
    font-size: 100%;
  }

  .discripShort{
    font-size: 100%;
    font-family: fontone, serif;
  }